/* general */

* {
  margin: 0px;
  padding: 0px;
}

body {
  font-family: helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  text-align: center;
}

h2, h4 {
  padding: 10px 0px;
}

/* header */

header {
  display: flex;
  align-items: center;
  position: fixed;
  width: 100%;
  height: 69px;
  border-bottom: 1px solid seashell;
  background-color: black;
}

header a {
  font-family: helvetica;
  font-size: 22px;
  color: seashell;
  padding-left: 20px;
}

header img {
  padding-left: 10px;
  height: 50px;
}

header nav {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-grow: 1;
  padding-right: 10px;
}

/* Main Content */

.maincontainer {
  display: flex;
  flex-direction: column;
  width: 1200px;
  margin: 0px auto;
}

.ccontainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;
}

/* Mission Container */

.mission {
  width: 100%;
  height: 700px;
  background-image: url(../images/mission.jpg);
}

.mission .ccontainer {
  width: 100%;
}

/* Tea Container */

.tea {
  display: flex;
  flex-direction: column;
  width: 1000px;
  margin: 70px auto;
}

.tea .ccontainer {
  width: 100%;
}

.images {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 10px;
}

.images .ccontainer {
  width: 300px;
  margin: 5px 15px;
}

.tea img {
  height: 200px;
}

/* Locations Container */

.locations {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 500px;
  background-image: url(../images/locations.jpg);
  padding-bottom: 70px;
}

.rcontainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 5px;
}

.locations .ccontainer {
  width: 300px;
  margin: 0px 20px;
}

.locations span, h3 {
  margin: 20px 0px;
}

/* Contact Container */

.contact {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 200px;
}
