/* general */

* {
  margin: 0px;
  padding: 0px;
}

body {
  font-family: helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  text-align: center;
}

/* header */

header {
  display: flex;
  align-items: center;
  position: fixed;
  width: 100%;
  height: 69px;
  border-bottom: 1px solid seashell;
  background-color: black;
}

header a {
  font-family: helvetica;
  font-size: 22px;
  color: seashell;
  padding-left: 20px;
}

header img {
  padding-left: 10px;
  height: 50px;
}

header nav {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-grow: 1;
  padding-right: 10px;
}

/* Main Content */

.maincontainer {
  display: flex;
  flex-direction: column;
  width: 1200px;
  margin: 0px auto;
}

.container {

}

/* Mission Container */

.mission {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 700px;
  background-image: url(../images/mission.jpg)
}
